@import "../../assets/scss/style.scss";

.blog-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;

    .blog-title {
        @include textStyle(#000, 13px, 'Libre Baskerville', 600);
        line-height: 1.6;
    }

    .blog-info {
    }
}

.blog-info_time {
    @include textStyle($geyColor, 12px);
}

.blog-info_author {
    @include textStyle($blueColor, 12px);
}
