@import url('https://fonts.googleapis.com/css2?family=Acme&family=Libre+Baskerville:wght@700&family=Varela+Round&display=swap');

$redColor: #dc3545;
$geyColor: #b6b5b5;
$blueColor: #587c8b;
$coverColor: #f2ece8;
$blogContentColor: #646464;

$font-1: 'Acme';
$font-2: 'Libre Baskerville';

* {
    letter-spacing: 0px;
    line-height: 1.6;
    text-decoration: none !important;
    box-sizing: border-box;
    font-family: 'Acme';
}

@mixin textStyle($color: #fff, $size: 10px, $family: 'Acme', $weight: 400) {
    color: $color;
    font-size: $size;
    font-family: $family;
    font-weight: $weight;
}

@mixin leftPage {
    margin-left: 5vw;
    // padding-right: 25vw;
    width: 70vw;
    margin-right: 20px;
}

@mixin rightPage {
    width: 25vw;
    padding-right: 2vw;
}

@mixin triangle($size, $color) {
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
}
