@import "../../assets/scss/style.scss";

.hot-topic_sub-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 34px;
  @include textStyle($geyColor, 12px, sans-serif, 600);

  .disk {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $redColor;
    margin-right: 5px;
  }

  .text {
    display: flex;
    align-items: center;
  }
}
