@import '../../../assets/scss/style.scss';

.btn-container {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.btn-container * {
    color: $redColor;
}

.btn-container a:hover {
    color: $blueColor;
    border: none;
}